<!-- image slider -->
<div style=" background-color: rgb(244, 246, 248); padding-top: 8vh;" >
<mdb-carousel class="carousel slide carousel-fade"  [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100 h-80">
        <img class="d-block w-100 " src="assets\image7 (1).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive" style="color: rgb(70, 69, 69);">Transitioning to Remote Work</h1>
        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets\image9.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">Made for Collaboration</h1>
    
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets\image10.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">Global Connectivity</h1>
        
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<!-- image slider -->
<!-- features -->
<div class="box1 " >
     <div  class="container-fluid">
         <h1 class= "solution">All inclusive in<mark class="blue">one place.</mark></h1>
       <div class="row">
        <div class="col-lg-3 col-xs-12 col-sm-6" id="smbax">
          <div class="container">
          <div class="screen">
              <div class="logo-image">
                  <img src="assets\Chat.png" alt ="Bootstrappin" class="img-fluid" >
              </div>  
              <h3 class="feature">Chat Enable</h3>  
          <p class= feature>
            Exchange messages using Camvision. Create your own chat room for two or more people and stay connected.
          </p>
          <div class="center">
              <button type="button" class="btn btn-link btn-lg">Learn more</button>
            </div>
          </div>
          </div>
      </div>
            

          
            <div class="col-lg-3 col-xs-12 col-sm-6" id="smbax">
                <div class="container-fluid">
                <div class="screen">
                    
                    <div class="logo-image">
                        <img src="assets\audio.png" alt ="Bootstrappin" class="img-fluid" >
                    </div>
                    <h3 class="feature">Data Sharing</h3>
                    <p class= feature>
                        Share audio , video or image securely using Camvision in your least time.
                    </p>
                    <div class="center">
                        <button type="button" class="btn btn-link btn-lg">Learn more</button>
                      </div>
                </div>
                </div>
            </div>

                        
            <div class="col-lg-3 col-xs-12 col-sm-6" id="smbax">
              <div class="container-fluid">
              <div class="screen">
                  <div class="logo-image">
                      <img src="assets\Screen.png" alt ="Bootstrappin" class="img-fluid" >
                  </div>  
                  <h3 class="feature">Screen Share</h3>  
              <p class= feature>
                  Camvision enables you to share your screen. It provides good quality Screenview.
              </p>
              <div class="center">
                  <button type="button" class="btn btn-link btn-lg">Learn more</button>
                </div>
              </div>
              </div>
          </div>

            <div class="col-lg-3 col-xs-12 col-sm-6" id="smbax">
                <div class="container-fluid">
                <div class="screen">
                    <div class="logo-image">
                        <img src="assets\webinar.png" alt ="Bootstrappin" class="img-fluid" >
                    </div>   
                    <h3 class="feature">Webinar</h3>
                    <p class= feature>
                      Organize an online seminar that turns a presentation into a real-time conversation from anywhere in the world.
                    </p>
                    <div class="center">
                        <button type="button" class="btn btn-link btn-lg">Learn more</button>
                      </div>
                </div>
                </div>
            </div>
          </div> 
    </div> 
</div>
<!-- end features -->

<!-- Monitor phone block -->

<div class="lappy"  >
    <div class="lappytext">
        <div class="container">
   </div>
</div>
</div>

<!-- Monitor phone block -->

<!-- Advantages -->

<div class="box1">
    <div class="container-fluid">
        <h1 class= "solution">Benefits of<mark class="blue">CamVision.</mark></h1>
        <div class="row">
            <div class="col-lg-3 col-xs-12 col-sm-6 " id="smbax">
                <div class="container">
                <div class="box2">
                    <div class="logo-image">
                        <img src="assets\easy.png" alt ="Bootstrappin" class="img-fluid" style="width: 20vh;" >
                    </div>  
                    <h3 class="benefits">Convenient</h3> 
                    <p class= "benefits">
                        User friendly Environment. No pre training required to use its feature. Start and join meetings in seconds. 
                    </p>
                                  
                     </div>
                </div>
            </div>
        
            
            <div class="col-xs-12 col-sm-6 col-lg-3" id="smbax">
                <div class="container">
                <div class="box2">
                    
                    <div class="logo-image">
                        <img src="assets\time.png" alt ="Bootstrappin" class="img-fluid"style="width: 20vh;" >
                    </div>
                    <h3 class="benefits">Enhance performance</h3>
                    <p class= "benefits">
                        Ensure the growth and profit of your n your organization. No complicated n time consuming usage guidelines.
                    </p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3" id="smbax">
                <div class="container">
                <div class="box2">
                    <div class="logo-image">
                        <img src="assets\anywhere.png" alt ="Bootstrappin" class="img-fluid" style="width: 20vh;">
                    </div>   
                    <h3 class="benefits">In any place</h3>
                    <p class= "benefits">
                        Works on any device prefered by you. Easily accessible across the globe at your preferred time. 
                    </p>
                </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3" id="smbax">
                <div class="container">
                <div class="box2">
                    <div class="logo-image">
                        <img src="assets\profit.png" alt ="Bootstrappin" class="img-fluid"style="width: 20vh;" >
                    </div>  
                    <h3 class="benefits">Exceptinal value</h3>  
                <p class= "benefits">
                 Easily affordable for getting a better experience. Join us in to know more about the features and its price.
                </p>
                </div>
                </div>
            </div>
          </div>
    </div>
</div>

<!-- advantages -->

<!-- table-->
<div class="wrapper">
    <h1 class= "comparison">Features for better<mark class="blue1">experience.</mark></h1>
<div class="table-responsive text-nowrap">
<table class="table table-striped table-bordered w-auto">
    <!--Table head-->
    <thead>
      <tr>
        <th style="text-align: center;">FEATURES</th>
        <th>WEB EX</th>
        <th>GO TO MEET</th>
        <th>SKYPE FOR BIZ</th>
        <th>ZOOM</th>
        <th><img src="assets\Logo (2).png" alt ="Bootstrappin" class="img-fluid-hd" >
        </th>
    </tr>
    </thead>
    <!--Table head-->
  
    <!--Table body-->
    <tbody>
      <tr class="table-info">
        <th class="hd" >HD Video and Audio</th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr>
        <th class="hd" scope="row">Multiple video partticipants</th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa- fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa- fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        
      </tr>
      <tr  class="table-info">
        <th class="hd" scope="row">Collaborative</th>
        <td><i class="fas fa- fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        
      </tr>
      <tr>
        <th class="hd" scope="row">Rich Multimedia And Screenshare</th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color: green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr class="table-info">
        <th class="hd" scope="row">Records meetingsr</th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr>
        <th class="hd" scope="row">High Security </th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr class="table-info">
        <th class="hd" scope="row">Browser based</th>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr>
        <th class="hd" scope="row">Device Compatibility </th>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      <tr class="table-info">
        <th class="hd" scope="row">Virtual whiteboard </th>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>  
      </tr>
      
      <tr>
        <th class="hd" scope="row">Offer White Labelling</th>
        <td><i class="fas  fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa fa-lg green-text" aria-hidden="true" style="color:red"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
        <td><i class="fas fa-check fa-lg green-text" aria-hidden="true" style="color:green"></i></td>
      </tr>
      
    </tbody>
    <!--Table body-->
  
  
  </table>
</div>
</div>

