<div class="wrapper">
<div class="fullBody">
 <div class="container">
        <div class="box1"> 
            <div class="row">
                <div class="row col-lg-5">
                    <div class="container">
                        <div class="box2">
                            <h1 class="Contact">Contact Us</h1>
                            <ul style="list-style-type:none;">
                                <li>Varanasi, Uttar Pradesh India </li>
                                <li>hellocontact.com</li>
                                <li>John Doe</li>
                                <li>6745672433</li>
                              </ul>
                              <a href="#" class="fa fa-instagram"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                
                        </div>
                    </div>
                       </div>
      <div class="row col-lg-7">
        <div class="container">
            <div class="box3">
            <h1 style="line-height: 20%;">Get In Touch</h1>
           <h2 style="line-height: 20%;">Feel free to drop a line below!</h2>
              <form>
           <p>
            <mat-form-field appearance="outline">
              <mat-label>Your Name</mat-label>
              <input matInput required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field  appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
          </p>

          <mat-form-field appearance="outline">
            <mat-label>Write your query here...</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

          <button mdbBtn type="button" color="orange" rounded="true" size="lg"  mdbWavesEffect>Submit</button>
        </form>
          </div>
        </div>  
</div>
            

            </div>
        </div>
    </div>

</div>
</div>

 <!-- Footer -->
<!-- <footer class="page-footer font-small py-4 bg-primary text-white-50 "> -->

  <!-- Footer Elements -->
  <!-- <div class="container"> -->

    <!-- Call to action -->
    <!-- <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
      </li>
    </ul> -->
    <!-- Call to action -->

  <!-- </div> -->


  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://cam"> camvision.tech</a>
  </div> -->
  <!-- Copyright -->

<!-- </footer> -->
<!-- Footer -->