.about
{
    /* background-image: url("C:\Users\DELL\Downloads\anguler\MyProjects\vision\src\assets\aboutus.jpg"); */
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}
.AboutText{
    text-align: center;
    position: relative;
    transform: translate(0%, 50%);
}
.content{
  background-color: rgb(238, 240, 226);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contentText{
  text-align: center;
    position: relative;
padding: 6vw;
    /* transform: translate(0%, 50%); */

}


h1 { color: white; font-family: Noto Sans, sans-serif; font-size: 8vh; font-weight: 200; line-height: 9vh; padding: 3vw 0 0 0; }


p { color: white; font-family: Arial , sans-serif; font-size: 4vh; line-height:4.5vh; margin: 0 0 6vh; }

p.cotentView{
  color:black; font-family: Georgia, serif; font-size: 3vh; line-height: 5vh; margin: 0 0 28px;
}