<div class="about"  >
    
    <div class="AboutText">
        <div class="container">
    <h1>About Us</h1>
    <p> "We ensure that each one of our clients feels like family , because that's 
        what we believe in."
    </p>
    <p class="authorspan"> -Mr. Ashutosh Mishra</p>
    
</div>
</div>
</div>
<div class="content">
    <div class="container">
        <div class="contentText">
        <p class="cotentView">
            We are a team of dedicated tech nerds obsessed with and driven by the vision of our leader 
            Mr Ashutosh Mishra founder and visionary for CamVision. Following his guiding principles based
            around quality and support balance, a touch of humanity in our care and customer priortization,
            we ensure not just the best tech solution, but the best human experience based around trust and 
            dedication. Mr Ashutosh brings in a rich background experience of working on multiple startups 
            and special capabilities brings this together.  </p>
        </div>
    </div>

</div>
<div class="footer">

</div>